.homepage-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .filter-links {
        display: flex;
        justify-content: space-around;

        .btn {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .filter-links {
        flex-direction: column;
        justify-content: space-between;
    }
}
